*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cards{
    display: flex;
    gap: 1vw;

align-items: center;
height: 100vh;
}
.card{
    width: 100vw;
    height: 70vh;
    background: rgb(15, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
    img{
        width: 20vw;
    }
h2{
    text-align: center;
}
}
.card:hover{
    scale: 1.05;
}
.sessao{
        display: flex;
    gap: 1vw;

align-items: center;
height: 100vh;
}
.sessao2{
         display: flex;
    gap: 1vw;

align-items: center;
height: 100vh;  
img{
    width: 15vw;
}
}
.outrasessao{
          display: flex;
    gap: 1vw;

align-items: center;
height: 100vh;  
img{
    width: 15vw;
}   
}